/* 링크 밑줄 삭제(공통) */
a {
  text-decoration: none !important;
}


/* 폰트 */
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 색상 */
.color-1 {
  background-color: #712cf9 !important;
}

.color-2 {
  background-color: #DB4D89 !important;
}

.color-3 {
  background-color: #AB4DDB !important;
}

.color-4 {
  background-color: #4E4DDB !important;
}

.color-5 {
  background-color: #bf3f76 !important;
}

.wrapper-border {
  border: 1px #dee2e6 solid;
}

/* 부트스트랩 요소 색상 강제변경 (페이징 포함) */
.btn-color-thebora, .active>.page-link, .active>.page-link a {
  background: #712cf9 !important;
  border-color: #712cf9 !important;
  color: #ffffff !important;
}

.btn-color-thebora:hover {
  background-color: #5c25ca !important;
  border-color: #5c25ca !important;
  color: #ffffff !important;
}

a, a:link {
  color: #712cf9;
}

a:hover, a:active {
  color: #5c25ca;
}

.card-title a:link, .card-title a:active, .card-title a:visited, .page-link {
  color: #212529 !important;
}

/* 알람 */
#alertBtn{
  width: 350px;
  max-height: 500px;
  overflow: scroll;
}
/*알람 아이콘*/
.notification-target {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red; /* 배경 색상 */
  color: white; /* 텍스트 색상 */
  border-radius: 50%; /* 원형으로 만들기 */
  padding: 2px 6px; /* 배지의 패딩 */
  font-size: 10px; /* 배지 텍스트 크기 */
  font-weight: bold; /* 텍스트 두껍게 */
  text-align: center; /* 텍스트 중앙 정렬 */

}


/* 메뉴 */
#main_header {

}

#main_nav li a {
  font-family: 'LINESeedKR-Bd' !important;
  font-size: 1rem !important;
  color: #212529 !important;
}

/* 검색 */
#button_search {
  background-color: #712cf9;
  border: 0;
}

#button_search:hover {
  background-color: #5c25ca;
}

/* 개인메뉴 */
.d-flex{
  margin: 1px;
}

/* 마이페이지 */
#my-info-img {
  position: absolute;
  top:0; left:0;
  font-weight: bold;
  color: #dee2e6;
  font-size: 0.8rem;
  z-index: 10;
  padding: 0.2rem 0.3rem;
  cursor: pointer
}

.my-info-list ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.my-info-list ul li {
  flex: auto;
  border-right: 1px #dee2e6 solid;
  font-weight: bold;
  text-align: center;
}

/* 나의 거래 */
.my-trade-card {
  min-height: 20rem;
  max-height: 20rem;
  overflow: hidden;
}

.my-trade-card-col {
  text-align: center;
}

.my-trade-thumbnail {
  min-height: 20rem;
  max-height: 20rem;
  overflow: hidden;
}

.my-trade-btn-del {
  background-color: #DB4D89 !important;
  color: #fff !important;
}

.my-trade-btn-del:hover {
  background-color: #bf3f76 !important;
}

/* 출석체크 */
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin: 20px auto;
  width: 80%;
}

.calendar-day {
  position: relative;
  border: 1px solid #ccc;
  padding: 14px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;
}

.calendar-day.attended {
  background-color: #90ee90;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.calendar-day::before {
  content: attr(data-date);
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.8em;
  color: #666;
}

/* 타이틀 강조 */
h1, h2, h3, h4, h5 {
  font-family: 'LINESeedKR-Bd';
}

/* 메인 배너 */
#main_banner {
  text-align: center;
  background-color: #3831C9;
  width: 100%; height: 5rem;
}

/* 메인 섹션(광고상품, 추천상품) */
.main-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 3rem;
}

.main-section h5 {
  font-weight: 300 !important;
  margin-top: 0.2rem !important;

}

.main-section .article-t {
  margin-top: 2rem;
}

.main-section div a, .main-section p {
  text-decoration: none !important;
  color: #212529 !important;
}

/* 광고상품 */
.main-item-thumbnail {
  min-height: 20rem;
  max-height: 20rem;
  overflow: hidden;
  border: 1px #dee2e6 solid;
}

.main-item-text {
  overflow: hidden;
  max-height: 10rem;
  padding-top: 0.5rem;
}

.main-item-text h5 {
  margin-bottom: 0;
}

.main-item-price {
  font-size: 1.5rem;
}

.main-item-category {
  padding: 0.2rem 0.4rem;
  color: #eaeaea;
  text-shadow: 1px 1px 1px rgba(117, 13, 207, 0.7);
  font-weight: bold;
}

#ad-slider {
  position: relative;
  width: 100%;
  height: 27rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: 4;
}

#ad-slider-row {
  position: absolute;
  left: 0; top: 0;
  width: 1230px;
}

#ad-slider-row.animated{
  transition: left 0.5s ease-out;
}


#ad-slider #prev, #ad-slider #next  {
  position: absolute;
  z-index: 5;
  top: 33%;
  color: #fff;
  text-shadow: 1px 1px 1px #212529;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

#ad-slider #prev {
  right: calc(98%);
}

#ad-slider #next {
  left: calc(98%);
}

/* 푸터 */
footer {
  width: 100%;
  margin-top: 1rem;
  background-color: rgb(247, 249, 250);
}

#footer-wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 3rem 0;
  font-size: 0.7em;
  color: #757575;
}

/* 푸터 로고 */
.footer-logo {
  width: 10em;
  margin-bottom: 2em;;
}

/* 사업자정보 */
#company-info {
  list-style-type: none;
  line-height:160%;
  padding-left: 0;
}



/* 페이지 상단 이동 버튼 */
.goingTop {
  width: 20px;
  height: 20px;
  padding: 20px;
  background: #986eaf;
  font-weight: bold;
  border-radius: 50%;
  color: #444;
  text-decoration: none;
  position: fixed;
  bottom: 100px;
  right: 120px;

  display: flex; /* Flexbox로 변경 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.goingTop:hover{
  text-decoration:none;
}

/* 로그인 */
#login_wrapper {
  width: 25%;
  margin: 0 auto;
  padding-top: 5%;
}

/* 로그인 페이지 로고 */
#login_logo {
  width: 70%;
  height: 5rem;
  margin: 0 auto;
  background-image: url("/img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* 폼 입력창 */
#login_input, #join_input, #new_pw {
  margin-top: 3rem;
  color: #757575;
}

#login_input input[type="text"], #login_input input[type="password"],
#join_input input[type="text"], #join_input input[type="password"],
#new_pw input[type="text"], #new_pw input[type="password"] {
  width: 100%;
  height: 3rem;
}

#login_input button, #join_input button, #new_pw button{
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background-color: #712cf9;
  border-color: #712cf9;
}

.btn-findAddress {
  margin-top: 0 !important;
}

#companyNum, #re-pw {
  margin-top: 1.5rem;
}

/* 로그인 페이지 메뉴 */
.login_finder {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin-top: 3rem;
}

.login_finder li {
  flex: auto;
  text-align: center;
}

.login_finder li a {
  display: block;
  color: #712cf9;
  text-decoration: none;
}

.login_finder li a:hover {
  color: #5c25ca;
}


/* 중고거래 */
.fileWide {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 245px;
  height: 245px;

}

.fileWide img {
  width: 100%;
  height: 100%;
}
#market-keyWord{
  width: 250px;
}

.search-bar{
  display: flex;
  justify-content: end;
}

/* 중고거래 카테고리 */
#sb_category {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

#sb_category li {
  flex: auto;
  text-align: center;
  cursor: pointer;
}

#sb_category li a {
  color: #212529;
  text-decoration: none;
}


/* 채팅 */
#chatting-wrapper {
  width: 100%;
  min-height: 40%;
  max-height: 60%;
  display: flex;
  margin: 0 auto;
  /*border: 1px red dotted;*/
  overflow: hidden;
  padding: 1rem;
}

#chat_left {
  /*overflow: scroll;*/
}

#chat_left div {
  /*cursor: pointer;*/
}

#chat_left .chat_name {
  text-align: center;
  cursor: pointer;
  border-bottom: 1px #dee2e6 solid;
}

#chat_left .chat_name:hover {
  background-color: #f2f4f6;
}

#chat_right {
  /*border: 1px blue solid;*/
}

#chat_contents {
  max-height: 20rem !important;
  /*border: 1px #000 solid;*/
}

#chat_contents h5 {
  margin-top: 15%;
  text-align: center;
}

#chat_input_field {
  visibility: hidden;
  display: flex;
  margin-top: 1rem;
}

#chat_input_field input[type="text"] {
  width: 80%;
}

#chat_input_field input[type="button"] {
  width: 18%;
}

.toast-container {
  visibility: visible;
}


/* 핫딜 */
#hotdeal-wrapper {
  width: 75%;
}


#hotdeal-wrapper .btn {
  width: 47%;
}

.hotdeal-item-wrapper {
  margin-bottom: 5rem;
}


.hotdeal-item-thumbnail {
  min-height: 20rem;
  max-height: 20rem;
  overflow: hidden;
  border: 1px #dee2e6 solid;
}

.hotdeal-item-text {
  overflow: hidden;
  max-height: 10rem;
  padding-top: 0.5rem;
}

.hotdeal-item-text h5 {
  margin-bottom: 0;
}

.text-body-secondary img {
  display: none !important;
}

.hotdeal-item-price {
  font-size: 1.5rem;
  font-weight: bold;
}

/* 핫딜 관리자 페이지 */
#hotdeal-admin-page .item-title {
  color: #212529 !important;
}


#preview_main {
  background-image: url("https://icons.getbootstrap.com/assets/icons/images.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;

  cursor:pointer;
  border:1px black solid;
  min-height: 80%;

  text-align: center;
}

#preview_main img {
  width: 100%;
}


/* 일반 관리자 페이지 */
#admin-page-nav {
  border-bottom: 1px #ccc solid;
}

#admin-page-nav ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

#admin-page-nav ul li {
  flex: auto;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-right: 1px #ccc solid;
}

#admin-content {
  margin-top: 3rem;
  margin-bottom: 5rem;
}



#memberList th, #memberList td,
#add-category th, #add-category td,
#ad-apply th, #ad-apply td {
  vertical-align:middle;
}

#memberList th {
  font-weight: bold;
  text-align: center;
}

/*#memberList select {*/
/*  width: 100%;*/
/*}*/

#add-category th, #add-category td,
#ad-apply th, #ad-apply td,
#auction-apply th, #auction-apply td,
#closed-auction-list th, #closed-auction-list td,
#deleted-auction-list th, #deleted-auction-list td,
#deleted-item-list td, #deleted-item-list td
{
  text-align: center;
}


.topborder {
  border-top: 1px #aaa solid;
}

.noborder {
  border: 0 !important;
}

/* 위로가기 */
#topbutton {
  position: fixed;
  bottom:5rem;
  right: 2rem;
  z-index: 99;
  width: 3rem !important;
  cursor: pointer;
  padding: 0.5rem 0.2rem;
  font-size: 0.8rem;
  text-align: center; color: #ffffff;
}
